.container {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
.main {
  margin: 1em 0 0;
  line-height: 1.8;
}

.main section.post {
  background: #fafafa;
  margin-bottom: 0.125em;
}
.main section.post a {
  display: block;
  border-left: 0.5em solid #ccc;
  -webkit-transition: border-left 0.45s;
  -moz-transition: border-left 0.45s;
  -o-transition: border-left 0.45s;
  -ms-transition: border-left 0.45s;
  transition: border-left 0.45s;
  padding: 0.5em;
}
